@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
 * {
     font-family: "Cedarville Cursive", cursive;
}
 .img-fluid {
     max-height: 70vh;
}
 .div-footer{
     position: absolute;
     bottom: 0;
     width: 100%;
}
